[submodule "USBKVM"]
	path = USBKVM
	url = https://github.com/NedWilbur/USBKVM.git
[submodule "MonitorControl"]
	path = MonitorControl
	url = https://github.com/MonitorControl/MonitorControl.git
[submodule "display-switch"]
	path = display-switch
	url = https://github.com/haimgel/display-switch.git
[submodule "m1ddc"]
	path = m1ddc
	url = https://github.com/waydabber/m1ddc.git
[submodule "winddcutil"]
	path = winddcutil
	url = https://github.com/scottaxcell/winddcutil.git
[submodule "ddc-windows"]
	path = ddc-windows
	url = https://github.com/ChristopherHammond13/ddc-windows
